<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Pos Login Setter 2.0</title>
</head>
<body>
<div>
    <div class="w3-container w3-teal">
        <h2>Input Form</h2>
        <h6>Please login</h6>
    </div>
    <div class="w3-center">
        <% if (message) { %>
            <h3><%= message %></h3>
        <% } %>
    </div>
</div>
</body>
</html>